@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #00252e;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h2 {
  font-family: 'Poppins';
  font-weight: 600;
}

/*STYLE HEADER + SECTION BUILD*/
.home {
  background-color: hsl(193, 100%, 96%);
  background-image: url("../images/bg-hero-desktop.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 90px;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.header .nav .nav-img {
  max-width: 190px;
}

.header .nav .nav-link {
  background-color: #fff;
  font-size: 14px;
  color: var(--main-color);
  font-weight: 600;
  padding: 13px 55px;
  box-shadow: 3px 2px 12px 1px #cecacabb;
  border-radius: 30px;
}
.header .nav .nav-link:hover{
  color: #7a8183;
}


/*style Section Build*/
.hero-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.hero-section .hero-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  padding: 0 20px;
}

.hero-section .hero-text-box {
  flex: 1;
  max-width: 545px;
  margin-right: 65px;
}

.hero-section .hero-text-box .heading-primary {
  font-size: 44px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 30px;
}
.hero-section .hero-text-box  .hero-description{
  color: #325055;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 0px 0px 1px #41676e;
  word-wrap: break-word;
  margin-bottom: 30px;
}
.btn{
  background-color: #ff52bf;
  color:  #eee8e8;
  width: 100%;
  max-width: 280px;
  padding: 19px 0;
  border-radius: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.btn:hover{
  color:#f3efef ;
  background-color: #fd99d8;
}
.hero-section .hero-img-box {
  flex: 1;
  max-width: 650px;
}

/*MAIN -FEATURES*/
main{
  display: flex;
  justify-content: center;
  width: 100%;
}
.features-section{
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
width: 100vw;
height: 100%;
max-width: 1240px;

padding: 0 20px;
}
.features-section:first-child{
  margin-top: 150px;
}
.features-section .feature-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 2px 28px 1px #ecebebbb;
  width: 100%;
  margin-bottom: 35px;
  padding: 75px 30px 40px 100px;
}
.features-section .feature-box .feature-text{
  max-width: 490px;
  flex: 1;
}
.features-section .feature-box .feature-text h2{
  font-size: 28px;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 15px;
}
.features-section .feature-box .feature-text p{
  font-size: 18px;
  font-weight: 500;
  color: #9ca0a1;
}
.features-section .feature-box .feature-img-box{
  flex: 1;
  max-width: 400px;
}
.features-section .cta-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px -2px 28px 1px #ecebebbb;
  width: 100%;
  max-width: 750px;
  margin-top: 80px;
  padding: 50px 0;
  border-radius: 15px;
}
.features-section .cta-box h2{
  font-size: 34px;
  margin-bottom: 30px;
  color: var(--main-color);

}
.features-section .cta-box .btn{
  width: 100%;
  max-width: 380px;
  font-size: 18px;
  padding: 24px 0;
  color: #f3f1f1;
}
@media (max-width: 740px) {
  .home{
    height: 100%;

  }
  .hero-section{
    height: 100%;
  }
  .header {
    margin-bottom: 80px;
  }
  .header .nav .nav-img{
    max-width: 118px;
 }
 .header .nav .nav-link{
  padding: 6px 26px;
 }
 .hero-section .hero-grid{
  flex-direction: column;
  justify-content: start;
  align-items: center;
 }
 .hero-section .hero-text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-bottom: 80px;
  margin-right: 0;
  text-align: center;
 }
 .hero-section .hero-text-box .heading-primary{
  font-size: 28px;
 }
 .hero-section .hero-text-box .hero-description{
margin-bottom: 50px;
 }
 .hero-section .hero-img-box {
  max-width: 540px;
  margin-bottom: 60px;
 }
}
@media (max-width: 370px){
  .hero-section .hero-img-box{
    max-width: 300px;
  }